<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Math</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    
    <div id="calculator">
        <input id="display" readonly>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>