<%- include("./partials/header.ejs") %>

    <link href="/public/styles/basic-math.css" rel="stylesheet">
    <div id="calculator-container">
        <div id="calculator">
            <input id="display" readonly>
            <div id="keys">
                <button onclick="echoToDisplay('+')" class="operator-btn">+</button>
                <button onclick="echoToDisplay('7')">7</button>
                <button onclick="echoToDisplay('8')">8</button>
                <button onclick="echoToDisplay('9')">9</button>
                <button onclick="echoToDisplay('-')" class="operator-btn">-</button>
                <button onclick="echoToDisplay('4')">4</button>
                <button onclick="echoToDisplay('5')">5</button>
                <button onclick="echoToDisplay('6')">6</button>
                <button onclick="echoToDisplay('*')" class="operator-btn">*</button>
                <button onclick="echoToDisplay('1')">1</button>
                <button onclick="echoToDisplay('2')">2</button>
                <button onclick="echoToDisplay('3')">3</button>
                <button onclick="echoToDisplay('/')" class="operator-btn">/</button>
                <button onclick="echoToDisplay('0')">0</button>
                <button onclick="echoToDisplay('.')">.</button>
                <button onclick="calculate()" class="operator-btn">=</button>
                <button onclick="clearDisplay()" class="operator-btn">C</button>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../basic-math.js"></script>

<%- include("./partials/footer.ejs") %>