select {
    padding: 0.5rem;
}

form label {
    margin: 0.3rem;
}

form button {
    margin: 1rem;
}

form select {
    margin: 0.5rem;
}

@media (max-width: 800px) {
    form label, form input, form select {
        display: block;
        margin-bottom: 0.1rem;
        text-align: center;
    }
    
    form input {
        margin-left: auto;
        margin-right: auto;
    }
    
    form select {
        width: 80%;
        box-sizing: border-box;
        margin-bottom: 0.5rem;
        margin-left: auto;
        margin-right: auto;
    }
}